extends layout

block variables
  - const PAGE_TITLE = 'Ajouter un auteur'

block content
  form(action="/author/add" method="POST")
    input(type="text" name="author_name" placeholder="Nom du nouvel auteur")
    button(type="submit") Créer !

block scripts
  //- script(src="//unpkg.com/lodash")
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form')
      form.addEventListener('submit', (event) => {
        if (form.querySelector('[name=author_name]').value === '') {
          event.preventDefault();
          return alert('Champs vide!')
        }
      })
    })