doctype html
html
  head
    title Jeu de Yams
    style.
      .game-container {
        background: url('/assets/background.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        font-family: Arial, sans-serif;
        color: white;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: black;
      }

      .dice {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
      }

      .dice img {
        width: 100px;
        margin: 0 1rem;
      }

      button {
        background-color: #e74c3c;
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      p {
        font-size: 1.2rem;
         color: black;
      }

      a{
        color: black;
      }

  body
    div.game-container
      h1 Jeu de Yams
      nav
        ul
          li
            a(href="/login") Login
          li
            a(href="/Register") Register

      .dice
        - for (let i = 1; i <= 5; i++)
          img(src=`/dice${i}.png`)
      button(type="button" id="btnLancer") Lancer les dés
      p Pâtisserie gagnée : #{pastry}
      script.
        let btnLancer = document.getElementById("btnLancer");
        let dice = document.querySelectorAll('.dice img');
        let pastry = '';

        btnLancer.addEventListener('click', () => {
          let results = [];

          for (let i = 0; i < dice.length; i++) {
            let result = Math.floor(Math.random() * 6) + 1;
            results.push(result);
            dice[i].src = `/dice${result}.png`;
          }

          if (isYams(results)) {
            pastry = 'Brioche sucrée avec chocolat';
          } else if (isCarré(results)) {
            pastry = 'Cake glacé fondant au chocolat';
          } else if (isDouble(results)) {
            pastry = 'Cake tout Chocolat';
          } else {
            pastry = '';
          }

          document.querySelector('p').textContent = `Pâtisserie gagnée : ${pastry}`;
        });

        function isYams(results) {
          return false;
        }

        function isCarré(results) {
          return false;
        }

        function isDouble(results) {
          return false;
        }
