doctype html
html
  head
    title Jeu de Yams
    link(rel="stylesheet" href="/style.css")
  body
    div.game-container
      h1 Jeu de Yams
      nav
        ul
            li
              h3 
                a(href="/logout") logout

      .dice
        - for (let i = 1; i <= 5; i++)
          img(src=`/dice${i}.png`)
      button(type="button" id="btnLancer") Lancer les dés
      p Pâtisserie gagnée : #{pastry}
      button(type="button" id="btnInfos") Infos
      div.rules-container
        h2 Règles pour gagner une pâtisserie
        p Pour gagner une pâtisserie, vous devez obtenir certaines combinaisons spécifiques avec les dés. Voici les combinaisons possibles et les pâtisseries correspondantes :
        ul
          li Si vous obtenez cinq dés ayant la même valeur, vous gagnez une Brioche sucrée avec chocolat.
          li Si vous obtenez quatre dés ayant la même valeur, vous gagnez un Cake glacé fondant au chocolat.
          li Si vous obtenez trois dés ayant la même valeur et les deux autres dés ayant une autre même valeur, vous gagnez une Tarte aux fruits.
          li Si vous obtenez cinq dés consécutifs (par exemple, 1, 2, 3, 4, 5 ou 2, 3, 4, 5, 6), vous gagnez un Éclair au café.
          li Si vous obtenez trois dés ayant la même valeur, vous gagnez un Croissant aux amandes.
          li Si aucune de ces combinaisons n'est réalisée, vous ne gagnez aucune pâtisserie.
          span.close-btn(x-data="{ open: false }" @click="open = false") X
      audio(id="diceSound" src="/dice-sound.mp3" preload="auto") // Son de lancé de dé
      audio(id="confettiSound" src="/confetti-sound.mp3" preload="auto") // Son des confettis
      
      script(src="https://cdn.jsdelivr.net/npm/alpinejs") // Importer la bibliothèque Alpine.js

      script(src="/script.js")
        