doctype html
html
    head
        title Connexion au Jeu de Yams
        link(rel="stylesheet" href="/style.css")
    body
        div.container
            h1 Connexion au Jeu de Yams
            form(action="/login" method="POST")
                input(type="text" name="username" placeholder="Nom d'utilisateur")
                input(type="password" name="password" placeholder="Mot de passe")
                button(type="submit") Se connecter
            p Pas encore inscrit ? <a href="/Register">Inscrivez-vous ici</a>
